<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmonitor.modules.sys.mapper.PicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jmonitor.modules.sys.entity.Pic">
    <result column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="pic_path" property="picPath" />
        <result column="pic_type" property="picType" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="isdelete" property="isdelete" />
    </resultMap>

</mapper>
