<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmonitor.modules.sys.mapper.PodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jmonitor.modules.sys.entity.Pods">
        <id column="guid" property="guid" />
        <result column="podid" property="podid" />
        <result column="name" property="name" />
        <result column="clustername" property="clustername" />
        <result column="namespace" property="namespace" />
        <result column="status" property="status" />
        <result column="podip" property="podip" />
        <result column="hostip" property="hostip" />
        <result column="phase" property="phase" />
        <result column="reason" property="reason" />
        <result column="createtime" property="createtime" />
        <result column="starttime" property="starttime" />
        <result column="deletetime" property="deletetime" />
        <result column="md5" property="md5" />
    </resultMap>

</mapper>
