<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmonitor.modules.sys.mapper.ServersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jmonitor.modules.sys.entity.Servers">
        <id column="guid" property="guid" />
        <result column="serverid" property="serverid" />
        <result column="servername" property="servername" />
        <result column="status" property="status" />
        <result column="cpu" property="cpu" />
        <result column="memory" property="memory" />
        <result column="privateip" property="privateip" />
        <result column="publicip" property="publicip" />
        <result column="dyncip" property="dyncip" />
        <result column="regionid" property="regionid" />
        <result column="zoneid" property="zoneid" />
        <result column="ostype" property="ostype" />
        <result column="osname" property="osname" />
        <result column="creationtime" property="creationtime" />
        <result column="starttime" property="starttime" />
        <result column="expiredtime" property="expiredtime" />
        <result column="md5" property="md5" />
    </resultMap>

</mapper>
